/* General Styles */
body {
    background-color: white;
    font-family: system-ui;
    margin: 0;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: black;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: white;
    margin: 0;
    font-size: 1.5em;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img {
    fill: #fff;
    width: 50px;
    margin-right: 10px;
}

header .shopping span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 60%;
    padding: 3px 10px;
}

/* List Styles */
.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.list .item {
    text-align: center;
    background-color: #eeeee6;
    padding: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.list .item:hover {
    transform: scale(1.05);
}

.list .item img {
    width: 220px;
    height: 210px;
    border-radius: 10px;
    margin-bottom: 40px;
    filter: drop-shadow(0 20px 20px black);
}

.list .item .title {
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.list .item .price {
    font-weight: bold;
    color: #4a7ba6;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-size: larger;
}

.list .item button {
    background-color: #5d8aa8;
    color: #fff;
    padding: 13px;
    width: 70%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
    font-weight: bolder;
}

.list .item button:hover {
    background-color: #4a7ba6;
}

/* Card Styles */
.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #243653;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: #fff;
    background-color: #66a9bf;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div {
    background-color: #66a9bf;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.card .checkOut div:nth-child(2) {
    background-color: #1c1f25;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

/* List Card Styles */
.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: black;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    color: #fff;
    height: 60px;
}

.listCard li img {
    width: 90%;
}

.listCard button {
    width: 40px;
    background-color: #bc85a3;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 1000;
    font-size: larger;
    margin: 3px;
}

.listCard button:hover {
    background-color: #c0392b;
}

.listCard .count {
    margin: 0 10px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    header {
        padding: 10px 15px;
    }

    header h1 {
        font-size: 1.2em;
    }

    header .shopping img {
        width: 40px;
    }

    .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 100%;
    }
}
.contact-us {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-us p {
    margin-top: 30px;
    font-weight: 900;
    font-size: 23px;
    color: black;
  }

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-media a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
  }
  
  .social-media img {
    width: 80px; /* Adjust the width and height as needed */
    height: 80px;
    transition: transform 0.3s ease-in-out; /* Optional: Add a transition effect */
  }
  
  .social-media img:hover {
    transform: scale(1.2); /* Optional: Increase the size on hover */
  }
  

  